body{
    background:gray;
}
h1{
    color: black;
    text-align: center;
    height: 60px;
    width: 85%;
    padding-left: 100px;
}
img{
    padding-top: 80px;
    padding-left: 500px;
    margin: auto;
}